*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/images/login_background.png') no-repeat;
}


/* --------------login form ----  */
.login{
    display: flex;
    align-items: center;

}
.right{
    background-color: #fff;
    border-radius: 20px;
    height: auto;
    width: 50vh;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
      

  }
  #form input{
      
      padding: 12px 20px;
      margin: 10px 0;
      display:flexbox;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
      color: #000;
  }
  #submit{
    font-size: 1.2rem;
    font-weight: 525;
    background-color: #ff7a00;
    border-radius: 30px;
    outline: none;
    background-color: #ff7a00;
    border:2px solid #FF7A00;
    transition: .4s ease;
    text-decoration: none;
    color: #FFF;
  }
  #submit:hover{
    border: 2px solid #FF7A00;
    background-color: #FFf;
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 15px #FF7A00;


  }

.login_head{
    width: 100%;
    margin-top: 0px;
    font-size: 35px;
    background-color: #ff7a00;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;   
  }


 